  {% extends "base.html" %}
  {% load static %}
  {% block content %}   
 
   <!-- ========================= Breadcrumb Start =============================== -->
<div class="breadcrumb mb-0 py-26 bg-main-two-50">
    <div class="container container-lg">
        <div class="breadcrumb-wrapper flex-between flex-wrap gap-16">
            <h6 class="mb-0">Cart</h6>
            <ul class="flex-align gap-8 flex-wrap">
                <li class="text-sm">
                    <a href="index.html" class="text-gray-900 flex-align gap-8 hover-text-main-600">
                        <i class="ph ph-house"></i>
                        Home
                    </a>
                </li>
                <li class="flex-align">
                    <i class="ph ph-caret-right"></i>
                </li>
                <li class="text-sm text-main-600"> Product Cart </li>
            </ul>
        </div>
    </div>
</div>
<!-- ========================= Breadcrumb End =============================== -->

    <!-- ================================ Cart Section Start ================================ -->
 <section class="cart py-80">
    <div class="container container-lg">
        {% if cart_exists %}
        <div class="row gy-4">
            <div class="col-xl-9 col-lg-8">
                <div class="cart-table border border-gray-100 rounded-8 px-40 py-48">
                    <div class="overflow-x-auto scroll-sm scroll-sm-horizontal">
                        
                        <table class="table style-three">
                            <thead>
                                <tr>
                                    <th class="h6 mb-0 text-lg fw-bold">Product</th>
                                    <th class="h6 mb-0 text-lg fw-bold">Price</th>
                                    <th class="h6 mb-0 text-lg fw-bold">Quantity</th>
                                    <th class="h6 mb-0 text-lg fw-bold">Subtotal</th>
                                    <th class="h6 mb-0 text-lg fw-bold">Delete</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for posts in post  %}
                                <tr>
                                    <td>
                                        <div class="table-product d-flex align-items-center gap-24">
                                            <div class="table-product__content text-start">
                                                <h6 class="title text-lg fw-semibold mb-8">
                                                    <a href="#" class="link text-line-2" tabindex="0">{{posts.product.product_name}}</a>
                                                </h6>
                                                <div class="flex-align gap-16 mb-16">
                                                    <span class="text-neutral-600 text-sm">{{posts.product.quantity}} ML</span>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                    <td><span class="text-lg h6 mb-0 fw-semibold">₹{{posts.product.price}}</span></td>
                                    <td>
                                        <form  method="post">
                                        <div class="d-flex rounded-4 overflow-hidden">
                                            {% csrf_token %}
                                                <button   formaction="{% url 'base:qty_sub' posts.id  %}" class=" border border-end border-gray-100 flex-shrink-0 h-48 w-48 text-neutral-600 flex-center hover-bg-main-600 hover-text-white">
                                                    <i class="ph ph-minus"></i>
                                                </button>
                                                <input type="number" readonly name="qty_input" class=" flex-grow-1 border border-gray-100 border-start-0 border-end-0 text-center w-32 px-4" value="{{posts.unit_qty}}" min="1">
                                                <button   formaction="{% url 'base:qty_add' posts.id  %}" class=" border border-end border-gray-100 flex-shrink-0 h-48 w-48 text-neutral-600 flex-center hover-bg-main-600 hover-text-white">
                                                    <i class="ph ph-plus"></i>
                                                </button>
                                            </div>
                                        </form>
                                    </td>
                                    <td><span class="text-lg h6 mb-0 fw-semibold">₹{{posts.amount}}</span></td>
                                      <td>
                                        <a href="{% url 'base:remove_from_cart' posts.id  %}" type="button" class="remove-tr-btn flex-align gap-12 hover-text-danger-600"><i class="ph ph-x-circle text-2xl d-flex"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                              
                            </tbody>
                        </table>
                    </div>

                   
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="cart-sidebar border border-gray-100 rounded-8 px-24 py-40">
                    <h6 class="text-xl mb-32">Cart Totals</h6>
                    <div class="bg-color-three rounded-8 p-24">
                        <div class="mb-32 flex-between gap-8">
                            <span class="text-gray-900 font-heading-two">Subtotal</span>
                            <span class="text-gray-900 fw-semibold">₹{{sub_total}}</span>
                        </div>
                        <div class="mb-32 flex-between gap-8">
                            <span class="text-gray-900 font-heading-two">Extimated Delivery</span>
                            <span class="text-gray-900 fw-semibold">Free</span>
                        </div>
                        <div class="mb-0 flex-between gap-8">
                            <span class="text-gray-900 font-heading-two">Total No of Items</span>
                            <span class="text-gray-900 fw-semibold">{{total_qty}}</span>
                        </div>
                    </div>  
                    <div class="bg-color-three rounded-8 p-24 mt-24">
                        <div class="flex-between gap-8">
                            <span class="text-gray-900 text-xl fw-semibold">Total</span>
                            <span class="text-gray-900 text-xl fw-semibold">₹{{sub_total}}</span>
                        </div>
                    </div>  
                    <a href="checkout.html" class="btn btn-main mt-40 py-18 w-100 rounded-8">Proceed to checkout</a>
                </div>
            </div>
        </div>
        {% else %}
         <section class="container pb-5">
               <div class="d-flex justify-content-center">
                   <div class="row cart-buttons mt-5 text-center">
                    <h1>Your Cart is empty</h1>
                       <div class=""><a href="/products" class="btn btn-main mt-40 py-18 w-100 rounded-8">Add Products</a></div>
                       
                    </div>
                </div> 
                </section>
        {% endif %}
    </div>
 </section>
<!-- ================================ Cart Section End ================================ -->
   {% endblock content %}