  {% extends "base.html" %}
  {% load static %}
  {% block title %}{{post.product_name}} {{post.juice_type}} {% endblock title %}
  {% block keywords %}{{post.key_words}} {{post.juice_type}}{% endblock keywords %}
  {% block description %}{{post.juice_type}} {{post.key_words}}{% endblock description %}
  
  {% block content %}   
    <!-- ========================= Breadcrumb Start =============================== -->
<div class="breadcrumb mb-0 py-26 bg-main-two-50">
    <div class="container container-lg">
        <div class="breadcrumb-wrapper flex-between flex-wrap gap-16">
            <h6 class="mb-0">Product</h6>
            <ul class="flex-align gap-8 flex-wrap">
                <li class="text-sm">
                    <a href="index.html" class="text-gray-900 flex-align gap-8 hover-text-main-600">
                        <i class="ph ph-house"></i>
                        Home
                    </a>
                </li>
                <li class="flex-align">
                    <i class="ph ph-caret-right"></i>
                </li>
                <li class="text-sm text-main-600">Product Name</li>
            </ul>
        </div>
    </div>
</div>
<!-- ========================= Breadcrumb End =============================== -->

 <section class="product-details py-80">
    <div class="container container-lg">
        <div class="row gy-4">
            <div class="col-lg-9">
                <div class="row gy-4">
                    <div class="col-xl-6">
                        <div class="product-details__left">
                            
                            <div class="product-details__thumb-slider border border-gray-100 rounded-16">
                                <div class="">
                                    <div class="product-details__thumb flex-center h-100">
                                        <img src="{{ post.image_1.url }}" alt="">
                                    </div>
                                </div>
                                    {% if   post.image_2 %}
                                <div class="">
                                    <div class="product-details__thumb flex-center h-100">
                                        <img src="{{ post.image_2.url }}" alt="">
                                    </div>
                                </div>
                                 {% endif %}
                                    {% if   post.image_3 %}
                                <div class="">
                                    <div class="product-details__thumb flex-center h-100">
                                        <img src="{{ post.image_3.url }}" alt="">
                                    </div>
                                </div>
                                 {% endif %}
                                    {% if   post.image_4 %}
                                <div class="">
                                    <div class="product-details__thumb flex-center h-100">
                                        <img src="{{ post.image_4.url }}" alt="">
                                    </div>
                                </div>
                                 {% endif %}
                                    {% if   post.image_5 %}
                                <div class="">
                                    <div class="product-details__thumb flex-center h-100">
                                        <img src="{{ post.image_5.url }}" alt="">
                                    </div>
                                </div>
                                 {% endif %}
                                    {% if   post.image_6 %}
                                <div class="">
                                    <div class="product-details__thumb flex-center h-100">
                                        <img src="{{ post.image_6.url }}" alt="">
                                    </div>
                                </div>
                                 {% endif %}
                                    {% if   post.image_7 %}
                                <div class="">
                                    <div class="product-details__thumb flex-center h-100">
                                        <img src="{{ post.image_7.url }}" alt="">
                                    </div>
                                </div>
                                 {% endif %}
                            </div>

                            <div class="mt-24">
                                <div class="product-details__images-slider">
                                    <div>
                                        <div class="max-w-120 max-h-120 h-100 flex-center border border-gray-100 rounded-16 p-8">
                                            <img src="{{ post.image_1.url }}" alt="">
                                        </div>
                                    </div>
                                    {% if   post.image_2 %}
                                    <div>
                                      <div class="max-w-120 max-h-120 h-100 flex-center border border-gray-100 rounded-16 p-8">
                                        <img src="{{ post.image_2.url }}" alt="">
                                      </div>
                                    </div>
                                    {% endif %}
                                    {% if   post.image_3 %}
                                    <div>
                                      <div class="max-w-120 max-h-120 h-100 flex-center border border-gray-100 rounded-16 p-8">
                                            <img src="{{ post.image_3.url }}" alt="">
                                        </div>
                                    </div>
                                     {% endif %}
                                    {% if   post.image_4 %}
                                    <div>
                                        <div class="max-w-120 max-h-120 h-100 flex-center border border-gray-100 rounded-16 p-8">
                                            <img src="{{ post.image_4.url }}" alt="">
                                        </div>
                                    </div>
                                     {% endif %}
                                    {% if   post.image_5 %}
                                    <div>
                                        <div class="max-w-120 max-h-120 h-100 flex-center border border-gray-100 rounded-16 p-8">
                                            <img src="{{ post.image_5.url }}" alt="">
                                        </div>
                                    </div>
                                     {% endif %}
                                    {% if   post.image_6 %}
                                     <div>
                                        <div class="max-w-120 max-h-120 h-100 flex-center border border-gray-100 rounded-16 p-8">
                                            <img src="{{ post.image_6.url }}" alt="">
                                        </div>
                                    </div>
                                     {% endif %}
                                    {% if   post.image_7 %}
                                     <div>
                                        <div class="max-w-120 max-h-120 h-100 flex-center border border-gray-100 rounded-16 p-8">
                                            <img src="{{ post.image_7.url }}" alt="">
                                        </div>
                                    </div>
                                     {% endif %}
                                </div>  
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="product-details__content">
                            <h5 class="mb-12">{{post.product_name}}</h5>
                            <p>{{post.juice_type}}</p>
                           
                            <span class="mt-32 pt-32 text-gray-700 border-top border-gray-100 d-block"></span>
                            <p class="text-gray-700">{{post.product_description}}</p>
                            <div class="mt-32 flex-align flex-wrap gap-32">
                                <div class="flex-align gap-8">
                                    <h4 class="mb-0">₹ {{post.price}}</h4>
                                    <span class="text-md text-gray-500">₹ {{post.strikeout_price}}</span>
                                </div>
                                <a href="#" class="btn btn-main rounded-pill">{{post.quantity}} ML</a>
                            </div>
                            <span class="mt-32 pt-32 text-gray-700 border-top border-gray-100 d-block"></span>

                          


                            <span class="text-gray-900 d-block mb-8">Quantity:</span>
                            <div class="flex-between gap-16 flex-wrap">
                              <form method="post" action="{% url 'base:add_to_cart' post.id  %}">
                                <div class="flex-align flex-wrap gap-16">
                                    <div class="border border-gray-100 rounded-pill py-9 px-16 flex-align">
                                        <button type="button" class="quantity__minus p-4 text-gray-700 hover-text-main-600 flex-center"><i class="ph ph-minus"></i></button>
                                        <input type="number" readonly class="quantity__input border-0 text-center w-32" value="1" name="unit_qty">
                                        <button type="button" class="quantity__plus p-4 text-gray-700 hover-text-main-600 flex-center"><i class="ph ph-plus"></i></button>
                                    </div>
                                      {% csrf_token %}
                                    <button class="btn btn-main rounded-pill flex-align d-inline-flex gap-8 px-48"> <i class="ph ph-shopping-cart"></i> Add To Cart</button>
                                    </form>
                                </div>
                                
                                <div class="flex-align gap-12">
                                 
                                    <a href="#" class="w-52 h-52 bg-main-50 text-main-600 text-xl hover-bg-main-600 hover-text-white flex-center rounded-circle">
                                        <i class="ph ph-share-network"></i>
                                    </a>
                                </div>
                            </div>
                            
                            <span class="mt-32 pt-32 text-gray-700 border-top border-gray-100 d-block"></span>

                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="product-details__sidebar border border-gray-100 rounded-16 overflow-hidden">
                    <div class="p-24">
                        <div class="flex-between bg-main-600 rounded-pill p-8">
                            <div class="flex-align gap-8">
                                <span class="w-44 h-44 bg-white rounded-circle flex-center text-2xl"><i class="ph ph-storefront"></i></span>
                                <span class="text-white">By HappyHands</span>
                            </div>
                            <a href="" class="btn btn-white rounded-pill text-uppercase">View Store</a>
                        </div>
                    </div>
                    <div class="p-24 bg-color-one d-flex align-items-start gap-24 border-bottom border-gray-100">
                        <span class="w-44 h-44 bg-white text-main-600 rounded-circle flex-center text-2xl flex-shrink-0">
                            <i class="ph-fill ph-truck"></i>
                        </span>
                        <div class="">
                            <h6 class="text-sm mb-8">Fast Delivery</h6>
                            <p class="text-gray-700">Lightning-fast shipping, guaranteed.</p>
                        </div>
                    </div>
                  
                  
                    <div class="p-24 bg-color-one d-flex align-items-start gap-24 border-bottom border-gray-100">
                        <span class="w-44 h-44 bg-white text-main-600 rounded-circle flex-center text-2xl flex-shrink-0">
                            <i class="ph-fill ph-credit-card"></i>
                        </span>
                        <div class="">
                            <h6 class="text-sm mb-8">Payment</h6>
                            <p class="text-gray-700">Payment upon receipt of goods, Payment by UPI, Net banking All types of debit card and credit card.</p>
                        </div>
                    </div>
                    
                    <div class="p-24 bg-color-one d-flex align-items-start gap-24 border-bottom border-gray-100">
                        <span class="w-44 h-44 bg-white text-main-600 rounded-circle flex-center text-2xl flex-shrink-0">
                            <i class="ph-fill ph-package"></i>
                        </span>
                        <div class="">
                            <h6 class="text-sm mb-8">Packaging</h6>
                            <p class="text-gray-700">Safe And Good Packaging</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt-80">
            <div class="product-dContent border rounded-24">
                <div class="product-dContent__header border-bottom border-gray-100 flex-between flex-wrap gap-16">
                    <ul class="nav common-tab nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item" role="presentation">
                          <button class="nav-link active" id="pills-description-tab" data-bs-toggle="pill" data-bs-target="#pills-description" type="button" role="tab" aria-controls="pills-description" aria-selected="true">Description</button>
                        </li>
                       
                    </ul>
                    <a href="#" class="btn text-gray-900 bg-color-one rounded-16 flex-align gap-8 text-main-600 hover-bg-main-600 hover-text-white">
                        
                        100% Satisfaction Guaranteed
                    </a>
                </div>
                <div class="product-dContent__box">
                    <div class="tab-content" id="pills-tabContent">
                        <div class="" id="pills-description" >
                            <div class="mb-40">
                                <h6 class="mb-24">Product Description</h6>
                            <p>{{post.specifications|safe}} </p>
                               
                              
                            </div>
                          

                        </div>
                       
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="product-container" id="product">
    <div class="product-wrapper">
        <h2 class="product-title text-gray-50 ">Recommended All Items for you</h2>
        <div class="product-grid row justify-content-center">

            {% for posts in re_post  %}
            
            <div class="product-card col-12 col-md-3">
                <img src="{{ posts.image_1.url }}" alt="Product">
                <h3 class="product-name">{{posts.product_name}}</h3>
                <div class="product-card__price mt-0 pb-5">
                                <span class="text-gray-700 text-md fw-semibold text-decoration-line-through"> ₹{{posts.price}} </span>
                                <span class="text-heading text-md fw-semibold "> ₹{{posts.price}} <span class="text-gray-800 fw-normal text-sm">{{posts.quantity}}ML</span> </span>
                            </div>

                <a href="{% url 'base:product_details' posts.slug posts.id  %}" class="buy-now"><i class="fas fa-cart-arrow-down"></i> Buy Now {{posts.id}}</a>
            </div>
            {% endfor %}
            
          
        </div>
    </div>
</div>

   {% endblock content %}

   <script>

   </script>