  {% extends "base.html" %}
  {% load static %}
  {% block content %}   
 
<!-- ============================ Feature Section End =============================== -->
<div class="product-container" id="product">
    <div class="product-wrapper">
        <h2 class="product-title text-gray-50 ">Recommended All Items for you</h2>
        <div class="product-grid row">

            {% for posts in post  %}
            
            <div class="product-card col-12 col-md-3">
                <img src="{{ posts.image_1.url }}" alt="Product">
                <h3 class="product-name">{{posts.product_name}}</h3>
                <div class="product-card__price mt-0 pb-5">
                                <span class="text-gray-700 text-md fw-semibold text-decoration-line-through"> ₹{{posts.price}} </span>
                                <span class="text-heading text-md fw-semibold "> ₹{{posts.price}} <span class="text-gray-800 fw-normal text-sm">{{posts.quantity}}ML</span> </span>
                            </div>

                <a href="{% url 'base:product_details' posts.slug posts.id  %}" class="buy-now"><i class="fas fa-cart-arrow-down"></i> Buy Now {{posts.id}}</a>
            </div>
            {% endfor %}
            
          
        </div>
    </div>
</div>
   {% endblock content %}